### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
 

summary_df = pd.DataFrame({"Total Unique Players": [total_players]})
summary_df

   Total Unique Players
0                   576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data["Item ID"].unique())
average_price = round(purchase_data["Price"].mean(),2)
average_age = round(purchase_data["Age"].mean(),0)
number_purchases = purchase_data["Item ID"].count()
revenue = purchase_data["Price"].sum()

#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                             "Average Price": [average_price],
                              "Average Age": [average_age],
                              "Number Purchases": [number_purchases],
                              "Revenue": [revenue]})

 
purchasing_analysis["Average Price"]=purchasing_analysis["Average Price"].map("${:,.2f}".format)

purchasing_analysis["Revenue"]=purchasing_analysis["Revenue"].map("${:,.2f}".format)
 
#Display the summary data frame
purchasing_analysis

,Number of Unique Items,Average Price,Average Age,Number Purchases,Revenue
0,179,$3.05,23.0,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#count female players
female_players = purchase_data.loc[purchase_data["Gender"] =="Female"]
total_female_players = len(female_players["SN"].unique())

#percent female players
percent_female_players = round(total_female_players/total_players *100, 0)

#count other players
other_players = purchase_data.loc[purchase_data["Gender"] =="Other / Non-Disclosed"]
total_other_players = len(other_players["SN"].unique())

#percent other players
percent_other_players = round(total_other_players/total_players *100,0)

#count male players
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
total_male_players = len(male_players["SN"].unique())

#percent male players
percent_male_players = round(total_male_players/total_players *100,0)


#create DataFrame

gender_demographics = pd.DataFrame(np.array([["Female", percent_female_players, total_female_players], 
                                             ["Male", percent_male_players, total_male_players], 
                                             ["Other", percent_other_players, total_other_players]]),
                                             columns=['Gender', 'Percent', 'Count'])

gender_demographics = gender_demographics.set_index('Gender')
gender_demographics["Percent"]=gender_demographics["Percent"].astype(float).map("{:,.2f}%".format)

gender_demographics

       Percent Count
Gender
Female  14.00%    81
Male    84.00%   484
Other    2.00%    11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase Count Female
purchase_count_female = female_players["Purchase ID"].count()

itemid_count_female = len(female_players["Item ID"].unique())

#Average Purchase Price Female
average_purchase_price_female = female_players["Price"].mean()


#purchase Count Male
purchase_count_male = male_players["Purchase ID"].count()

itemid_count_male = len(male_players["Item ID"].unique())

#Average Purchase Price Male
average_purchase_price_male = male_players["Price"].mean()

average_purchase_total_male = male_players["Price"].sum()/purchase_count_male

##purchase Count Other
purchase_count_other = other_players["Purchase ID"].count()

itemid_count_other = len(other_players["Item ID"].unique())

#Average Purchase Price Other
average_purchase_price_other = other_players["Price"].mean()

average_purchase_total_other = other_players["Price"].sum()/purchase_count_other
#average Purchase Total
average_purchase_price = pd.DataFrame({"Price":purchase_data.groupby(["Gender","SN"])["Price"].sum()}).reset_index()
average_purchase_price.head()
average_purchase_price_gender = pd.DataFrame({"Average Purchase Price per Person":average_purchase_price.groupby(["Gender"])["Price"].mean()}).reset_index()

#dataframe

gender_purchase_analysis = pd.DataFrame(np.array([["Female", purchase_count_female, average_purchase_price_female, itemid_count_female], 
                                             ["Male", purchase_count_male, average_purchase_price_male, itemid_count_male], 
                                             ["Other / Non-Disclosed", purchase_count_other, average_purchase_price_other, itemid_count_other]]),
                                             columns=['Gender', 'Purchase Count', 'Average Purchase Price', 'Item ID Count'])
gender_purchase_analysis1 = gender_purchase_analysis.merge(average_purchase_price_gender, on="Gender", how="left")
gender_purchase_analysis1 = gender_purchase_analysis1.set_index('Gender')
gender_purchase_analysis1["Average Purchase Price"]=gender_purchase_analysis1["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_purchase_analysis1["Average Purchase Price per Person"]=gender_purchase_analysis1["Average Purchase Price per Person"].astype(float).map("${:,.2f}".format)

gender_purchase_analysis1

,Purchase Count,Average Purchase Price,Item ID Count,Average Purchase Price per Person
Gender,,,,
Female,113,$3.20,90,$4.47
Male,652,$3.02,178,$4.07
Other / Non-Disclosed,15,$3.35,13,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#establish bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100 ]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#cut data and put in bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#count players
count_players = pd.DataFrame({"Total Count":purchase_data.groupby(["Age Group"])["SN"].count()}).reset_index()

#percent_players
percentages=round(count_players["Total Count"]/count_players["Total Count"].sum()*100, 0 )
count_players["Percentages"]=percentages.map("{:,.2f}%".format)
count_players = count_players.set_index('Age Group')
count_players

           Total Count Percentages
Age Group
<10                 32       4.00%
10-14               54       7.00%
15-19              200      26.00%
20-24              325      42.00%
25-29               77      10.00%
30-34               52       7.00%
35-39               33       4.00%
40+                  7       1.00%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#establish bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100 ]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#cut data and put in bins

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

#purchase Count
purchase_count = pd.DataFrame({"Purchase Count": purchase_data.groupby(["Age Group"])["Purchase ID"].count()}).reset_index()

#purchase price
purchase_price = pd.DataFrame({"Purchase Price": purchase_data.groupby(["Age Group"])["Price"].mean()}).reset_index().round(2)

#purchase Value
purchase_value = pd.DataFrame({"Purchase Value": purchase_data.groupby(["Age Group"])["Price"].sum()})

#purchase_total
average_purchase_price = pd.DataFrame({"Total Price": purchase_data.groupby(["Age Group", "SN"])["Price"].sum()}).reset_index().round(2)
purchase_total = pd.DataFrame({"Average Purchase Price per Person":average_purchase_price.groupby(["Age Group"])["Total Price"].mean()}).reset_index().round(2)
age_purchase_analysis = purchase_count.merge(purchase_price, on="Age Group", how="left")

age_purchase_analysis = age_purchase_analysis.merge(purchase_total, on="Age Group", how="left")
age_purchase_analysis = age_purchase_analysis.merge(purchase_value, on="Age Group", how="left")
age_purchase_analysis = age_purchase_analysis.set_index('Age Group')
age_purchase_analysis["Purchase Price"]=age_purchase_analysis["Purchase Price"].map("${:,.2f}".format)
age_purchase_analysis["Average Purchase Price per Person"]=age_purchase_analysis["Average Purchase Price per Person"].map("${:,.2f}".format)
age_purchase_analysis["Purchase Value"]=age_purchase_analysis["Purchase Value"].map("${:,.2f}".format)
age_purchase_analysis

,Purchase Count,Purchase Price,Average Purchase Price per Person,Purchase Value
Age Group,,,,
<10,32,$3.40,$4.54,$108.96
10-14,54,$2.90,$3.82,$156.60
15-19,200,$3.11,$4.14,$621.56
20-24,325,$3.02,$4.23,$981.64
25-29,77,$2.88,$3.75,$221.42
30-34,52,$2.99,$4.21,$155.71
35-39,33,$3.40,$4.32,$112.35
40+,7,$3.08,$3.08,$21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
purchase_data.head()

#purchase count

purchase_count = pd.DataFrame({"Purchase Count": purchase_data.groupby(["SN"])["Purchase ID"].count()}).reset_index()

#average purchase price
average_purchase_price = pd.DataFrame({"Average Purchase Price": purchase_data.groupby(["SN"])["Price"].mean().map("${:,.2f}".format)}).reset_index().round(2)


#total purchase value
average_purchase_price_sum = pd.DataFrame({"Total Price": purchase_data.groupby(["SN"])["Price"].sum()}).reset_index()
total_purchase_value = pd.DataFrame({"Total Purchase Value":average_purchase_price_sum.groupby(["SN"])["Total Price"].mean().map("${:,.2f}".format)}).reset_index()


big_spenders = purchase_count.merge(average_purchase_price, on="SN", how="left")
big_spenders = big_spenders.merge(total_purchase_value, on="SN", how="left")
big_spenders = big_spenders.set_index('SN')
big_spenders = big_spenders.sort_values(["Total Purchase Value"], ascending=False)
big_spenders.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:

total_purchase_value = pd.DataFrame({"Total Purchase Value":purchase_data.groupby(["Item Name"])["Price"].sum().map("${:,.2f}".format)}).reset_index()

purchase_count = pd.DataFrame({"Purchase Count":purchase_data.groupby(["Item Name"])["Price"].count()}).reset_index()

item_price = pd.DataFrame({"Item Price":purchase_data.groupby(["Item Name"])["Price"].mean().map("${:,.2f}".format)}).reset_index()

most_popular = total_purchase_value.merge(purchase_count, on="Item Name", how="left")

most_popular = most_popular.merge(item_price, on="Item Name", how="left")
most_popular = most_popular.set_index('Item Name')

most_popular = most_popular.sort_values(["Purchase Count"], ascending=False)
most_popular.head()

,Total Purchase Value,Purchase Count,Item Price
Item Name,,,
Final Critic,$59.99,13,$4.61
"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
Persuasion,$28.99,9,$3.22
Nirvana,$44.10,9,$4.90
"Extraction, Quickblade Of Trembling Hands",$31.77,9,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_popular = most_popular.sort_values(["Total Purchase Value"], ascending=False)
most_popular

,Total Purchase Value,Purchase Count,Item Price
Item Name,,,
Stormfury Mace,$9.98,2,$4.99
"Chaos, Ender of the End",$9.90,5,$1.98
Stormfury Longsword,$9.86,2,$4.93
"The Void, Vengeance of Dark Magic",$9.48,4,$2.37
Frenzied Scimitar,$9.36,6,$1.56
...,...,...,...
Crying Steel Sickle,$10.23,3,$3.41
Severance,$10.20,3,$3.40
Suspension,$10.08,7,$1.44
Gladiator's Glaive,$1.93,1,$1.93
The Decapitator,$1.75,1,$1.75