In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import file

file_path = "../Resources/purchase_data.csv"
#Read file 
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#count number of player
total_players = len(purchase_data["SN"].unique())
 

summary_df = pd.DataFrame({"Total Unique Players": [total_players]})
summary_df

   Total Unique Players
0                   576

In [4]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = purchase_data["Item ID"].nunique()
average_price = purchase_data["Price"].mean()
average_age = purchase_data["Age"].mean()
number_purchases = purchase_data["Item ID"].count()
revenue = purchase_data["Price"].sum()

#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_price],
                              "Average Age": [average_age],
                              "Number Purchases": [number_purchases],
                              "Revenue": [revenue]})
#Display the summary data frame
purchasing_analysis

,Number of Unique Items,Average Price,Average Age,Number Purchases,Revenue
0,179,3.050987,22.714103,780,2379.77

In [5]:
total_players = purchase_data["SN"].count()
#count female players
female_players = purchase_data.loc[purchase_data["Gender"] =="Female"]
count_female_players = female_players["SN"].nunique()

#percent female players
percent_female_players = count_female_players/total_players * 100

#count other players
other_players = purchase_data.loc[purchase_data["Gender"] =="Other / Non-Disclosed"]
count_other_players = other_players["SN"].nunique()

#percent other players
percent_other_players = count_other_players/total_players * 100

#count male players
male_players = purchase_data.loc[purchase_data["Gender"] == "Male", :]
count_male_players = male_players["SN"].nunique()

#percent male players
percent_male_players = count_male_players/total_players * 100

#create DataFrame

gender_demographics = pd.DataFrame(np.array([["Female", percent_female_players, count_female_players], 
                                             ["Male", percent_male_players, count_male_players], 
                                             ["Other", percent_other_players, count_other_players]]),
                                             columns=['Gender', 'Percent', 'Count'])

gender_demographics = gender_demographics.set_index('Gender')

gender_demographics

                   Percent Count
Gender
Female  10.384615384615385    81
Male     62.05128205128205   484
Other   1.4102564102564104    11